.flex {
    display: flex;
    padding-top: 20px;
    overflow-y: auto;
}

.product_cards_wrapper {
    margin-right: 12px;
}

.order_modal_wrapper {
    width: 300px;
    height: 300px;
    background-color: orange;
    border-radius: 12px;
}


