.product_details_wrapper {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-y: auto;
}

.product_image {
    height: 400px;
    width: 400px;
}

.product_image:hover {
    transform: scale(1.4);
}

.product_properties {
    width: 250px;
    height: 100%;
    padding-top: 60px;
}

.cut {
    overflow: hidden;
}
