.product_item {
    border: 1px solid lightblue;
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 5px;
}

.product_item:hover {
    background-color: palegreen;
    cursor: pointer;
}

.product_image {
    height: 200px;
    width: 200px;
}

.product_image_wrapper {
    display: flex;
    justify-content: center;
}

.product_item_description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
