.main_block {
    /*height: 84vh;*/
    display: flex;
    padding: 0 20px;
    /*instead height 84vh at children*/
    flex: 1;
    overflow-y: auto;
}

.left_sideBar {
    /*height: 84vh;*/
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left_sideBar_category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left_sideBar_filter {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/

    align-items: center;
}

.products_container {
    /*height: 84vh;*/
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2, h3 {
    color: dodgerblue;
}

.left_sideBar_label {
    color: #807272;
}

