.main {
    /*height: 84vh;*/
}

.main_wrapper {
    /*height: 84vh;*/
    margin: 0 10px 0 10px;
    display: flex;
}

.left_sideBar {
    height: 84vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_container {
    height: 84vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

