.entrance_wrapper {
    flex: 1;
    /*background: #9bc4f6;*/
    background-image: url("https://img.freepik.com/free-vector/logo-design-for-kids-toys_29937-4737.jpg?size=626&ext=jpg");
    color: antiquewhite;
    /*display: flex;*/
    /*flex-direction: column;*/
    position: relative;
}

.entrance_window {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 28%;
    left: 38%;
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*opacity: 50%;*/
}
