.entrance_wrapper {
    flex: 1;
    background: url("https://img.freepik.com/free-vector/logo-design-for-kids-toys_29937-4737.jpg?size=626&ext=jpg") no-repeat;
    -webkit-background-size: 100%; /* Safari 3.1+ Ð¸ Chrome 4.0+ */
    position: relative;
}

.entrance_window {
    height: 40%;
    width: 25vw;
    position: absolute;
    top: 28%;
    left: 38%;
    /*background-color: transparent;*/
    background-color: rgba(84, 246, 200, 0.3);
    border: solid 2px lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

