.header_wrapper {
    /*height: 8vh;*/
    padding: 0 10px;
    background: antiquewhite;
    color: fuchsia;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_input {
    width: 30vw;
}

.cart_wishlist_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header a {
    color: fuchsia;
}


