.header_wrapper {
    min-height: 50px;
    width: 100vw;
    padding: 0 10px;
    background: antiquewhite;
    color: fuchsia;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_input {
    width: 30vw;
}

.cart_wishlist_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_wrapper a {
    color: fuchsia;
}

.user_name {
    font-weight: bold;
    color: #ee0f04;
    margin-right: 6px;
}

.flex {
    min-width: 100px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .header_wrapper {
        flex-wrap: wrap;
    }
}


