.header {
    /*height: 8vh;*/
    background: antiquewhite;
    color: fuchsia;
}

.header_wrapper {
    margin: 0 10px 0 10px;
}

.half_column {
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
