.main_block {
    /*height: 84vh;*/
    display: flex;
    /*padding: 0 20px;*/
    /*instead height 84vh at children*/
    flex: 1;
    overflow-y: auto;
    /*for loading component*/
    position: relative;
}

h1, h2, h3 {
    color: dodgerblue;
}
