.footer {
    background: antiquewhite;
    color: fuchsia;
}

.footer_wrapper {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}


