.footer {
    width: 100vw;
    background: antiquewhite;
    color: fuchsia;
}

.footer_wrapper {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

@media (max-width: 800px) {
    .footer_wrapper {
        flex-wrap: wrap;
    }
}
