.login_wrapper {
    flex: 1;
    background: url("https://img.freepik.com/free-vector/logo-design-kids-toys_29937-4737.jpg?size=626&ext=jpg&ga=GA1.2.1783114487.1627084800") center no-repeat;
    -webkit-background-size:  90vh; /* Safari 3.1+ и Chrome 4.0+ */
    position: relative;
}

.login_window {
    min-height: 230px;
    width: 320px;
    position: absolute;
    top: 8%;
    left: 2%;
    /*background-color: transparent;*/
    background-color: rgba(84, 246, 200, 0.3);
    border: solid 2px lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 14px;
}

.login_wrapper h2 {
    color: mediumaquamarine;
}
