.flex {
    display: flex;
    padding-top: 20px;
    overflow-y: auto;
    flex: 1;
}

.empty_cart {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 12px;
    color: #505aa5;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.product_cards_wrapper {
    margin-right: 12px;
}

.order_modal_wrapper {
    width: 340px;
    height: 340px;
    background-color: orange;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 6px;
}

.order_modal_button {
    width: 60%;
    height: 54px;
    background-color: #f04137;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.order_modal_button:hover {
    background: red;
}

.center {
    text-align: center;
}

hr {
    background-color: #898989;
    height: 240px;
    transform: rotate(90deg);
    margin: -94px 0;
}


